@font-face {
    font-weight: 400;
    font-family: 'PTAstraSans';
    src:url("../fonts/PTAstraSans/PT-Astra-Sans_Regular.ttf");
}

@font-face {
    font-weight: 700;
    font-family: 'PTAstraSans';
    src:url("../fonts/PTAstraSans/PT-Astra-Sans_Bold.ttf");    
}

@font-face {
    font-family: 'PTAstraSans';
    src:url("../fonts/PTAstraSans/PT-Astra-Sans_Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PTAstraSans';
    src:url("../fonts/PTAstraSans/PT-Astra-Sans_Bold-Italic.ttf");
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'PTAstraSans';
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    height: 100%;
}