.login-form {
    display: flex;
    flex-direction: column;
}

.login-block {
    width: 350px;
    margin: 0 auto;
}

.login-input {
    margin: 10px 0 20px 0;
    font-family: 'PTAstraSans';
    font-size: 22px;
    border-style: none;
    border: 1px solid #163E6C;
    border-radius: 5px;
    text-align: center;
}

.text {
    margin: 10px 0 10px 0;
}