.main {
    margin: 0;
    padding-top: 5%;
    color: #163E6C;
    min-height: 70%;
}

.title {
    margin-left: 5%;
    margin-top: 0;
}

.form {
    margin-left: 5%;
    margin-top: 3%;
}

.label {
    font-size: 22px;
}

.form-input {
    margin-left: 2%;
    font-family: 'PTAstraSans';
    font-size: 22px;
    border-style: none;
    border: 1px solid #163E6C;
    border-radius: 5px;
    text-align: center;
}

.form-submit {
    margin-left: 2%;
    padding: 0;
    width: 200px;
    font-family: 'PTAstraSans';
    font-size: 20px;
    line-height: 30px;
    border-style: none;
    border: 1px solid #163E6C;
    background: #163E6C;
    color :#EBE6D6; 
    cursor: pointer;
}

.form-submit:active {
    border: 1px solid white;
}

.title-result {
    margin-left: 5%;
    margin-top: 5%;
}

.marg {
    margin: 0;
}

.link-to {
    text-decoration: none;
    color: #163E6C;
    font-size: 18px;
    margin-left: 5%;
}
