.table-results {
    margin: 2% 2% 2% 2%;    
}

.table-results, th, td {
    border: 1px solid #163E6C;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    font-size: 0.833vw;
}

.table-results th, td {
    padding: 5px 5px;
}